.text-content {
    font-size: 1.1rem;
}

.section-header {
    text-align: start;
}

.time-range {
    text-align: end;
}

.experience-title {
    font-family: "EB Garamond", serif;
    font-size: 36px;
}